  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="left-footer-col w-col w-col-6">
          <div class="footer-text">© Bahrenfelder Sportverein von 1919 e.V. All Rights Reserved.</div>
        </div>
        <div class="footer-nav-bar w-col w-col-6">
          <a href="impressum.html" class="footer-link">Impressum</a>
          <a href="datenschutz.html" class="footer-link">Datenschutz</a>
          <a href="kontakt.html" class="footer-link">Kontakt</a>
        </div>
      </div>
    </div>
  </div>

