  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="w-container">
      <a href="index.html" aria-current="page" class="brand w-clearfix w-nav-brand w--current"><img src="images/BSV-Logo.png" height="50" alt="" class="image-4">
        <div class="company-title">Frauenfußball BSV 19.</div>
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="index.html" aria-current="page" class="nav-link w-nav-link w--current">Home</a>
        <a href="neuigkeiten.html" class="nav-link w-nav-link">News</a>
        <a href="probetraining.html" class="nav-link w-nav-link">Probetraining</a>
        <a href="spasskick.html" class="nav-link w-nav-link">Spaßkick</a>
        <a href="team.html" class="nav-link w-nav-link">Unser Team</a>
        <a href="kontakt.html" class="nav-link w-nav-link">Kontakt</a>
      </nav>
      <div class="menu-button w-hidden-main w-nav-button">
        <div class="nav-link w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
